@font-face {
  font-family: "CraftworkGrotesk";
  src: url("./CraftworkGrotesk-Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CraftworkGrotesk";
  src: url("./CraftworkGrotesk-Medium.woff") format("truetype");
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: "CraftworkGrotesk";
  src: url("./CraftworkGrotesk-SemiBold.woff") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "CraftworkGrotesk";
  src: url("./CraftworkGrotesk-Heavy.woff") format("truetype");
  font-weight: bold;
  font-style: normal;
}
